{
  "singleQuote": false,
  "arrowParens": "always",
  "trailingComma": "all",
  "semi": false,
  "printWidth": 150,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "printWidth": 150,
        "useTabs": false,
        "trailingComma": "none",
        "proseWrap": "never"
      }
    }
  ]
}
